include _header
include ../components/_hero.pug
include ../components/_test.pug
include ../components/_contact.pug
include ../components/_modal.pug
//- include _footer

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width")
		meta(property="og:image" content="./images/TAICCA-og.png")
		title TAICCA
		//- 網站標題圖樣
		//- link(rel="shortcut icon" type="image/x-icon" href="../images/titleIcon.png")
		//- 字體的 CDN
		link(rel="icon" type="image/png" sizes="16x16" href="./favicon.png")
		//- 引用 CSS
		link(href="./css/index.css", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css", rel="stylesheet")
		block css
	body
		+header("ch")
		block content
		//- +footer()
		//- 引用 JS
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")
		script(src="./js/index.js" type="text/javascript")
		block js