mixin header(language)
  header
    nav
      .menu
        a.menu_logo(href="./")
        .menu_lists
          .menu_items
            a.menu_item(href="#anchorAbout")
              span.menu_text About
            a.menu_item(href="#anchorMOU")
              span.menu_text Become MOU Partners
            a.menu_item(href="#anchorApply")
              span.menu_text Apply
            a.menu_item(href="#anchorNews")
              span.menu_text News
            a.menu_item(href="#anchorPartner")
              span.menu_text Partners
            a.menu_item(href="#anchorContact")
              span.menu_text Contact
          a.menu_download(href="https://drive.google.com/drive/u/1/folders/1VBp_rHsXHCikO7EoPSCozV_sjb2p3Oa3" target='_blank')
            span.menu_text Download
            span.menu_icon
          .menu_languages
            a.menu_item(href="https://ticp.taicca.tw" class= language === "ch" ? "active" : "")
              .menu_textWrapper
                .menu_text 中
            a.menu_item(href="https://ticp.taicca.tw/en/" class= language === "en" ? "active" : "")
              .menu_textWrapper
                .menu_text En
            a.menu_item#js_toggleHamburger
              span.menu_icon
    .menuModal#js_hamburgerModal
      a.menu_item(href="#anchorAbout")
        span.menu_text About
      a.menu_item(href="#anchorMOU")
        span.menu_text Become MOU Partners
      a.menu_item(href="#anchorApply")
        span.menu_text Apply
      a.menu_item(href="#anchorNews")
        span.menu_text News
      a.menu_item(href="#anchorPartner")
        span.menu_text Partners
      a.menu_item(href="#anchorContact")
        span.menu_text Contact
      .menu_item
        a.menu_textWrapper(href="https://ticp.taicca.tw" class= language === "ch" ? "active" : "")
          .menu_text 中
        a.menu_textWrapper(href="https://ticp.taicca.tw/en/" class= language === "en" ? "active" : "")
          .menu_text En
