// 主視覺顏色
$primary: #F93B1D;

// 基礎顏色
$black: #000000;
$white: #FFFFFF;
$gray: #AAAAAA;
$background: #EEEEEE;

// 介面大小
$media-desktop-L: 1440px;
$media-desktop-M: 1280px;
$media-desktop-S: 1080px;
$media-pad-L: 1024px;
$media-pad-M: 920px;
$media-pad-S: 768px;
$media-phone: 576px;
$media-phone-M: 375px;

// 頁首頁尾大小
$header-height: 66px;
