// 主視覺顏色
$primary: #F93B1D;

// 基礎顏色
$black: #000000;
$white: #FFFFFF;
$gray: #AAAAAA;

// 介面大小
// $media-desktop-L: 1440;
$media-desktop-M: 1280;
$media-desktop-S: 1080;
$media-pad-L: 1024;
$media-pad-M: 920;
$media-pad-S: 768;
$media-phone: 576;
$media-phone-M: 375;

// 頁首頁尾大小
$header-height: 66px;
