@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-ExtraLight.otf) format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-Light.otf) format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-Normal.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-Medium.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-Bold.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'source-han-sans-traditional';
  src: url(../font/SourceHanSansTC-Heavy.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
body {
  font-family: 'source-han-sans-traditional', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: $background;
  overflow-x: hidden;
  // letter-spacing: 0.03em;
  // overflow-y: scroll;
}
.widthLimit {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
// i {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// button {
//   border: none;
//   background-color: $primary-lightGreen;
//   border-radius: 5px;
// }
// a {
//   text-decoration: none;
// }
// .content {
//   min-height: calc(100vh - $footer-height);
// }
// .widthLimit {
//   width: 100%;
//   max-width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
// }
// .content {
//   padding: 80px 45px 0px;
// }
// .breadcrumbs {
//   margin: 60px 5px 30px;

//   li {
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 28px;
//     display: inline;
//     color: $text-gray;

//     &::after {
//       content: '/';
//       padding: 0 8px;
//     }
//     &:last-child {
//       &::after {
//         content: '';
//         padding: 0;
//       }
//     }
//   }
//   a {
//     color: $primary-green-100;
//     text-decoration: none;
//   }
// }
