mixin contact()
  section.contact#js_triggerContact
    a.target#anchorContact
    .contact_container
      .contact_topWrapper
        .contact_leftWrapper
          .contact_obj.halfCircle4#contactCircle4
          .contact_obj.halfCircle3#contactCircle3
          .contact_obj.halfCircle2#contactCircle2
          .contact_obj.halfCircle1#contactCircle1
          .contact_obj.arrow#contactArrow
        .contact_rightWrapper
          .contact_obj.map
          .contact_title Contact
          .contact_subtitle 聯絡我們
          .contact_textWrapper
            .contact_rowWrapper
              .contact_text 聯絡窗口
              .contact_text coproduction@taicca.tw
            .contact_rowWrapper
              .contact_text 聯絡電話
              .contact_text (02) 2745-8186 分機 316 或 325
            .contact_rowWrapper
              .contact_text 服務時間
              .contact_text 週一至週五 09:30-12:30、14:00-18:00
          .contact_iconWrapper
            a(href="https://www.facebook.com/taicca.tw/")
              img(src="../images/icon_facebook.png")
            a(href="https://twitter.com/taicca_official?lang=en")
              img(src="../images/icon_twitter.png")
            a
              img(src="../images/icon_email.png")
      .contact_bottomWrapper
        .contact_leftWrapper
          .contact_textWrapper
            .contact_text 105402 台北市松山區民生東路三段158號5樓
            .contact_text 5F, No. 158, Sec 3, Minsheng E. Rd., Songshan Dist., Taipei City 105402, Taiwan
            .contact_text TEL (02) 2745-8186 FAX (02) 2749-2436
          .contact_text-contact 聯繫我們
          .contact_buttonWrapper
            a.contact_buttonBox(href="https://www.facebook.com/taicca.tw/")
              img(src="../images/icon_facebook.png")
            a.contact_buttonBox(href="https://twitter.com/taicca_official?lang=en")
              img(src="../images/icon_twitter.png")
            a.contact_buttonBox
              img(src="../images/icon_email.png")
          .contact_buttonSubscribe
            .text 訂閱電子報
          .contact_textWrapper
            a.contact_text-underline(href="https://taicca.tw/page/privacy") 隱私權及安全政策宣示
            .contact_text-copyright Copyright © 2020 TAICCA (Taiwan Creative Content Agency). All rights reserved.
        .contact_rightWrapper
          .contact_obj.circleBlank#contactCircleBlank
          .contact_obj.taicca#contactTaicca
          .contact_obj.taiwan
          .contact_obj.text1
          .contact_obj.text2
