mixin hero()
  .fixMap
  .hero#js_triggerHero
    .blurCircle
    .rectT1
    .rectT2
    .circle1
    .circleC
      .triangle2
      .triangle3
    .line1
    .line2
    .rectL1
      .arrow1
    .rectL2
      .halfCircle
      .TW
    .taiccaBox
    .rectL3
    .rectL4
    .taiwan
    .rectR1
    .rectR2
    .arrow2
    .circleWrapper
      .circleR5
      .circleR4
      .circleR3
      .circleR2
      .circleR1
        .circleDollar
    .text1 國際合作投資專案計畫
    .text2 讓文策院成為<span><br/></span>你打開國際市場的夥伴
    .text3
    .text4
    a.downloadBox(href="https://drive.google.com/drive/u/1/folders/11cjVZ8t12BfAAp54Aau6nOYxcZyXJUk8" target="_blank")
      .triangle1
      .text 下載規章
