mixin hero()
  .hero
    .map
    .blurCircle
    .circleC
    .line1
    .line2
    .triangle2
    .triangle3
    .rectL1
    .arrow1
    .rectL2
    .rectL3
    .rectL4
    .taiwan
    .TW
    .halfCircle
    .taiccaBox
    .rectR1
    .rectR2
    .circleR5
    .circleR4
    .circleR3
    .circleR2
    .circleR1
    .circleDollar
    .arrow2
    .rectT1
    .rectT2
    .circle1
    .text1 國際合作投資
    .text2 讓文策院成為你打開國際市場的夥伴
    .text3
    .text4
    a.downloadBox
      .triangle1
      .text 下載規章
