mixin modal()
  .mask.hidden#js_mask
    .modal_plan#js_planModal
      .close_button
      .plan
        .plan_header
          .decoLine
          .planDate 日期
          .planTitle 標題
        .plan_content 內文摘要