mixin test()
  .fixMap
  .grid-container#js_triggerHero
    .item
      .arrow1
    .item
      .allWrapper
        .rectT1
        .bottomWrapper
          .rectT2
          .circle1
    .item
      .rectWrapper
        .rectR1
        .rectR2
      .circleArrowWrapper
        .circleR5
        .circleR4
        .circleR3
        .circleR2
        .circleR1
          .circleDollar
        .arrow2
    .item
      .text1 Taiwan’s International<span><br/></span>Co-funding Program
      .text2 TAICCA as Your Partner to International Market
      .text3
      .text4
      a.downloadBox(href="https://drive.google.com/uc?export=download&id=13WZkJ0nTztJ5Nib_qGK933id7PNkTLPS" target="_blank")
        .triangle1
        .text Download Rules
    .item
      .taiccaWrapper
        .taiccaBox
        .halfCircle
        .TW
    .item
      .taiwan
    .item
      .circleC
        .triangle2
        .triangle3
      .line1
      .line2
    .item
    .blurCircle
