extends ../base/_base.pug

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="" type="text/javascript")

block content
  .content
    +hero()
    .container_about#js_triggerAbout(name="about")
      a.target#anchorAbout
      .title#aboutTitle ABOUT
      .title_bottom_line
      //- .desc
      //-   .desc_wrapper.light
      //-     .desc_title Eligibility
      //-     .desc_text TAICCA’s MOU partners and entities who have received other TAICCA support
      //-       | (Applicants shall either own the IPs, or receive permissions or licenses from IP owners.)
      //-   .desc_wrapper
      //-     .desc_title Gap Financing
      //-     .desc_text Supports up to 30% of Film Production Budget (Priority) 
      //-       | Supports up to 30% of Global Marketing Budget (Alternative)
      //-       span Max. USD$300,000
      //-   .desc_wrapper
      //-     .desc_title Requirements
      //-     .desc_text 1.Taiwanese Elements
      //-       | 2. International Co-financing / Co-production
      //-       | 3. International Distribution
      //-       | 4. Secured 70% of funding needs
      .desc
        .desc_wrapper.light
          .desc_title 適用對象
          .desc_text 本院之 MOU 合作夥伴<br>或已獲本院其他項目支持者<br>
            |（申請專案之著作權須為申請者所有，或已獲著作財產權人同意或授權）
        .desc_wrapper
          .desc_title 支持金額
          .desc_text 全案製作總預算或行銷總預算的30%，最高上限30萬美金。
        .desc_wrapper
          .desc_title 必要條件
          .desc_text 1.具備臺灣元素<br>
            | 2.國際合資或合製<br>
            | 3.國際通路<br>
            | 4.自籌達七成
    .container_MOU#js_triggerMOU
      a.target#anchorMOU
      .desc
        .desc_title MOU
        .desc_text 你想成為文策院合作夥伴嗎？<br>
          | 你有國際合資合製經驗，或授權國際通路的作品嗎？
        .desc_subtitle 從第一哩路到最後一桶金
        .desc_detail 成為文策院合作夥伴後，可同時申請「內容開發專案計畫：劇本開發支持」及「國際合作投資專案計畫」，每一合作夥伴每年申請並通過之企劃案，合計以10案為限。
        .desc_buttonWrapper
          a.buttonBox(href="https://taicca.surveycake.biz/s/O0zP3" target="_blank")
            .icon
            .text MOU 夥伴意願調查
          a.buttonBox(href="https://drive.google.com/drive/u/1/folders/1_xXY82FXh8G8dKcTOLIzWo21v_ChqATw" target="_blank")
            .icon
            .text 應備文件及證明事項
        .desc_bottom_line
        .desc_detail 合作備忘錄期限為簽約後到次年年底，如有特殊情形可以提出延長申請，經本院評估視情況延展。
      .cards
        .card#aboutCard.black
          .card_title 最後一桶金
          .card_text 國際合作投資專案計畫
          .card_text 本頁面方案
        .card#aboutCard
          .card_title 第一哩路
          .card_text 內容開發專案計畫：劇本開發支持
          .icon
    .container_application.applyA#js_triggerApplyA
      a.target#anchorApply
      .sideTitle#applyTitle INTRO
      .taiwan#applyTaiwan
      .halfCircle
      div
      .title 申請項目
      .subTitleBox
        .icon
        .subtitle 經費支持上限
      .card
        .shadowTitle 主要方案
        .blockBox
          .smallBox
            .text A
          .largeBox#applyLargeCardA
            .title 製作投資
            .subtitle 為全案製作總預算的
            .number 30%
            .textWrapper
              span.line
              .text 最高
              span.line
            .text 美金<span class="number">30</span>萬元
            .bottom_line
            .text 賞金一次到位
          .mediumBox#applyMediumCardA
            .text 以同一製作投資專案申請並獲得文化部或其所屬、受其監督機關(構)製作項目之補助者，不得申請本製作投資支持。
    .container_application.applyB#js_triggerApplyB
      .arrow#applyArrow
      .card.Bcard
        .shadowTitle 替代方案
        .blockBox
          .smallBox
            .text B
          .largeBox#applyLargeCardB
            .title 行銷支持
            .subtitle 為全案製作總預算的
            .number 30%
            .textWrapper
              span.line
              .text 最高
              span.line
            .text 美金<span class="number">30</span>萬元
            .bottom_line
            .text 分期支持：<br>
              | 第一期50%、第二期50%
          .mediumBox#applyMediumCardB
            ul
              li.text 同一製作投資專案已獲得文化部或其所屬、受監督機關(構)製作項目之補助者，方得申請本行銷支持。
              li.text 若同一行銷專案申請已獲得文化部或其所屬、受其監督機關(構)行銷項目之獎補助者，不得重複申請本行銷支持。
              li.text 同一專案不得同時申請製作投資及行銷支持。
    .container_criteria#js_triggerCriteria
      .sideTitle#criteriaTitle Criteria
      .halfCircle5#criteriaC5
      .halfCircle4#criteriaC4
      .halfCircle3#criteriaC3
      .halfCircle2#criteriaC2
      .halfCircle1#criteriaC1
      .title 必要條件
      .cards
        .card.black
          .title 國際合製或合資
          .subtitle 契約文件
          .text 與國外公司的合資或<br>合製契約
          .bottom_line
          .optionText A 製作投資
          .optionText B 行銷支持
        .card#criteriaCard
          .title 國際影視通路
          .text 3 項至少符合 1 項
          .descWrapper
            .descBox
              .subtitle 公開上映
              .desc 國外戲院發行契約（非影展放映）
            .descBox
              .subtitle 公開播送
              .desc 國外頻道(無線/有線/衛星電視)
            .descBox
              .subtitle 公開傳輸
              .desc 國際平台付費會員制線上收看(OTT)、按次付費(PPV)、隨選視訊(VOD)、訂閱式隨選視 訊(SVOD)、電視回看公開播映 (TVOD)、以廣告營收為基礎的服務(paid-AVOD, AVOD)
          .bottom_line
          .optionText A 製作投資
          .optionText B 行銷支持
        .card.gray#criteriaCard
          .title 自籌資金已達七成
          .descWrapper
            .descBox
              .subtitle 契約文件
              .desc 投資契約
            .descBox
              .subtitle 銀行文件
              .desc 帳戶金流證明（申請人須提供國內外經會計師確認為有公信力銀行之銀行對帳單/帳戶證明），申請人之自籌款（即總預算70%）已進入或將進入該帳戶，並應同意本院每季（或月）自行或委託會計師事務所執行查核工作
          .bottom_line
          .optionText A 製作投資
    .container_element#js_triggerElement
      .grayBlock
      .primaryBlock
      .blurCircle
      .backgroundCircle
      .icon#elementIcon
      .TW
      .sideTitle#elementTitle Taiwanese<br>Elements
      .descWrapper
        .titleBox
          .circle
            img(src="../images/icon_tw.png")
          .title 台灣元素
        .descBox
          .subtitleBox
            .title 核心內容
            .subtitle 3 項至少須符合 1 項
          .itemsBox
            .item
              img(src="../images/icon_team.png")
              .text 主創團隊
            .item
              img(src="../images/icon_story.png")
              .text 故事
            .item
              img(src="../images/icon_language.png")
              .text 語言
        .descBox
          .subtitleBox
            .title 產業效益
            .subtitle 3 項至少須符合 1 項
          .itemsBox
            .item
              img(src="../images/icon_actor.png")
              .text 主要演員
            .item
              img(src="../images/icon_photo.png")
              .text 拍攝場景
            .item
              img(src="../images/icon_editor.png")
              .text 後期製作
    .container_download#js_triggerDownload
      .whiteBlock
      .primaryBlock
      .grayBlock
      .bigArrow#downloadArrow
      .contentWrapper
        .sideTitle Download
        .descWrapper
          .leftWrapper
            .text 已成為 MOU 夥伴者，請依撰寫說明提供企劃書（含附件）中文正本一式四份及電子檔一份，並寄回以下聯絡窗口。
            .buttonWrapper
              a.buttonBox#downloadButton1(href="https://drive.google.com/drive/u/1/folders/1F86-Cxp09OTD89k_6JW9t_4tQamQqRwZ" target="_blank")
                img(src="../images/icon_page1.png")
                .text 企劃書撰寫說明
                .arrow
              a.buttonBox#downloadButton2(href="https://drive.google.com/drive/u/1/folders/1fdzS_bk9n89lYoGv7A9tt-R2dkFB4B1K" target="_blank")
                img(src="../images/icon_page2.png")
                .text 授權書與聲明書範本
                .arrow
          .rightWrapper
            iframe#js_googleSlide(src="https://docs.google.com/presentation/d/e/2PACX-1vQyQJWqCDp9CPoHVvqYYBPS1Gf8d8gB8EqPI7Mw52uH1-apDiHDwnj05GM0XyAxdfZhpyUR0YYco_EH/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
            .buttonWrapper
              .buttonBox#js_toggleFullScreen
                img(src="../images/icon_fullScreen.png")
                .text 放大顯示
              a.buttonBox(href="https://drive.google.com/file/d/1GB8gNwgzV2oKFxzp48Dla9EAy1ChHqtF/view?usp=sharing" target="_blank")
                img(src="../images/icon_download.png")
                .text 下載簡報
    .container_news#js_triggerNews
      a.target#anchorNews
      .blurCircle#newsBlurCircle
      .sideTitle News
      .newsWrapper
        .title 相關報導與聯結
        .newsBox
          .news
            .news_dateBox
              .news_month 10月
              .news_day 15
            .news_year 2022
            .news_title 《人選之人—造浪者》開拍 從內容孵化到製作投資 文策院與產業一起為臺劇造浪
          .news
            .news_dateBox
              .news_month 10月
              .news_day 8
            .news_year 2021
            .news_title 文策院攜手金馬、北影與雄影 力挺新銳導演與優秀團隊持續創作、進入國際市場
          .news
            .news_dateBox
              .news_month 2月
              .news_day 3
            .news_year 2021
            .news_title 文策院攜手國內影視產製公司 宣示百部影視台流造浪
          .news
            .news_dateBox
              .news_month 1月
              .news_day 27
            .news_year 2021
            .news_title 為台流鋪第一哩路 文策院編劇提案大會 熱烈參與投拍更多台灣原創故事
        .readMoreButton
          .text 顯示更多
    .container_partner
      a.target#anchorPartner
      .sideTitle
      .titleWrapper
        .line
        .title 合作夥伴
        .line
      .partnerWrapper
        img(src="../images/partner_taipei.png")
        img(src="../images/partner_taipeiFF.png")
        img(src="../images/partner_kaohsiungFF.png")
    .container_contact#js_triggerContact
      a.target#anchorContact
      .topPrimaryBlock
      .bottomPrimaryBlock
      .halfCircle4#contactCircle4
      .halfCircle3#contactCircle3
      .halfCircle2#contactCircle2
      .halfCircle1#contactCircle1
      .arrow#contactArrow
      .circleBlank#contactCircleBlank
      .taicca#contactTaicca
      .taiwan
      .text1
      .text2
      .topWrapper
        .title Contact
        .subtitle 聯絡我們
        .detailWrapper
          .detailBox
            .text 聯絡窗口
            .text coproduction@taicca.tw
          .detailBox
            .text 聯絡電話
            .text (02) 2745-8186 分機 316 或 325
          .detailBox
            .text 服務時間
            .text 週一至週五 09:30-12:30、14:00-18:00
        .iconWrapper
          img(src="../images/icon_facebook.png")
          img(src="../images/icon_twitter.png")
          img(src="../images/icon_email.png")
      .map
      .bottomWrapper
        .textWrapper
          .text 105402 台北市松山區民生東路三段158號5樓
          .text 5F, No. 158, Sec 3, Minsheng E. Rd., Songshan Dist., Taipei City 105402, Taiwan
          .text TEL (02) 2745-8186 FAX (02) 2749-2436
        .text-contact 聯繫我們
        .buttonWrapper
          .buttonBox
            img(src="../images/icon_facebook.png")
          .buttonBox
            img(src="../images/icon_twitter.png")
          .buttonBox
            img(src="../images/icon_email.png")
        .buttonSubscribe
          .text 訂閱電子報
        .textWrapper
          .text-underline 隱私權及安全政策宣示
          .text Copyright © 2020 TAICCA (Taiwan Creative Content Agency). All rights reserved.
