extends ../base/_base.pug

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="" type="text/javascript")

block content
  .content
    div ABC
    div ABC
    div ABC
    div(style="font-size: 2250px;") ABC
