extends ../base/_base.pug

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="" type="text/javascript")

block content
  .content
    +hero()
    .container_about
      .title ABOUT
      .title_bottom_line
      //- .desc
      //-   .desc_wrapper.light
      //-     .desc_title Eligibility
      //-     .desc_text TAICCA’s MOU partners and entities who have received other TAICCA support
      //-       | (Applicants shall either own the IPs, or receive permissions or licenses from IP owners.)
      //-   .desc_wrapper
      //-     .desc_title Gap Financing
      //-     .desc_text Supports up to 30% of Film Production Budget (Priority) 
      //-       | Supports up to 30% of Global Marketing Budget (Alternative)
      //-       span Max. USD$300,000
      //-   .desc_wrapper
      //-     .desc_title Requirements
      //-     .desc_text 1.Taiwanese Elements
      //-       | 2. International Co-financing / Co-production
      //-       | 3. International Distribution
      //-       | 4. Secured 70% of funding needs
      .desc
        .desc_wrapper.light
          .desc_title 適用對象
          .desc_text 本院之 MOU 合作夥伴<br>或已獲本院其他項目支持者<br>
            |（申請專案之著作權須為申請者所有，或已獲著作財產權人同意或授權）
        .desc_wrapper
          .desc_title 支持金額
          .desc_text 全案製作總預算或行銷總預算的30%，最高上限30萬美金。
        .desc_wrapper
          .desc_title 必要條件
          .desc_text 1.具備臺灣元素<br>
            | 2.國際合資或合製<br>
            | 3.國際通路<br>
            | 4.自籌達七成
    .container_MOU
      .desc
        .desc_title MOU
        .desc_text 你想成為文策院合作夥伴嗎？<br>
          | 你有國際合資合製經驗，或授權國際通路的作品嗎？
        .desc_subtitle 從第一哩路到最後一桶金
        .desc_detail 成為文策院合作夥伴後，可同時申請「內容開發專案計畫：劇本開發支持」及「國際合作投資專案計畫」，每一合作夥伴每年申請並通過之企劃案，合計以10案為限。
        .desc_buttonWrapper
          .buttonBox
            .icon
            a.text MOU 夥伴意願調查
          .buttonBox
            .icon
            a.text 應備文件及證明事項
        .desc_bottom_line
        .desc_detail 合作備忘錄期限為簽約後到次年年底，如有特殊情形可以提出延長申請，經本院評估視情況延展。
      .cards
        .card.black
          .card_title 最後一桶金
          .card_text 國際合作投資專案計畫
          .card_text 本頁面方案
        .card
          .card_title 第一哩路
          .card_text 內容開發專案計畫：劇本開發支持
          .icon
    .container_application
      .sideTitle INTRO
      .taiwan
      .halfCircle
      .arrow
      .title 申請項目
      .subTitleBox
        .icon
        .subtitle 經費支持上限
      .card
        .shadowTitle 主要方案
        .blockBox
          .smallBox
            .text A
          .largeBox
            .title 製作投資
            .subtitle 為全案製作總預算的
            .number 30%
            .textWrapper
              span.line
              .text 最高
              span.line
            .text 美金<span class="number">30</span>萬元
            .bottom_line
            .text 賞金一次到位
          .mediumBox
            .text 以同一製作投資專案申請並獲得文化部或其所屬、受其監督機關(構)製作項目之補助者，不得申請本製作投資支持。
      .card.Bcard
        .shadowTitle 替代方案
        .blockBox
          .smallBox
            .text B
          .largeBox
            .title 行銷支持
            .subtitle 為全案製作總預算的
            .number 30%
            .textWrapper
              span.line
              .text 最高
              span.line
            .text 美金<span class="number">30</span>萬元
            .bottom_line
            .text 分期支持：<br>
              | 第一期50%、第二期50%
          .mediumBox
            ul
              li.text 同一製作投資專案已獲得文化部或其所屬、受監督機關(構)製作項目之補助者，方得申請本行銷支持。
              li.text 若同一行銷專案申請已獲得文化部或其所屬、受其監督機關(構)行銷項目之獎補助者，不得重複申請本行銷支持。
              li.text 同一專案不得同時申請製作投資及行銷支持。
    .container_criteria
      .sideTitle Criteria
      .halfCircle5
      .halfCircle4
      .halfCircle3
      .halfCircle2
      .halfCircle1
      .title 必要條件
      .cards
        .card.black
          .title 國際合製或合資
          .subtitle 契約文件
          .text 與國外公司的合資或<br>合製契約
          .bottom_line
          .optionText A 製作投資
          .optionText B 行銷支持
        .card
          .title 國際影視通路
          .text 3 項至少符合 1 項
          .descWrapper
            .descBox
              .subtitle 公開上映
              .desc 國外戲院發行契約（非影展放映）
            .descBox
              .subtitle 公開播送
              .desc 國外頻道(無線/有線/衛星電視)
            .descBox
              .subtitle 公開傳輸
              .desc 國際平台付費會員制線上收看(OTT)、按次付費(PPV)、隨選視訊(VOD)、訂閱式隨選視 訊(SVOD)、電視回看公開播映 (TVOD)、以廣告營收為基礎的服務(paid-AVOD, AVOD)
          .bottom_line
          .optionText A 製作投資
          .optionText B 行銷支持
        .card.gray
          .title 自籌資金已達七成
          .descWrapper
            .descBox
              .subtitle 契約文件
              .desc 投資契約
            .descBox
              .subtitle 銀行文件
              .desc 帳戶金流證明（申請人須提供國內外經會計師確認為有公信力銀行之銀行對帳單/帳戶證明），申請人之自籌款（即總預算70%）已進入或將進入該帳戶，並應同意本院每季（或月）自行或委託會計師事務所執行查核工作
          .bottom_line
          .optionText A 製作投資
    .container_element
      .primaryBlock
      .grayBlock
      .blurCircle
      .icon
      .TW
      .descWrapper
        .titleBox
          .icon
          .title 台灣元素
        .descBox
          .subtitleBox
            .title 核心內容
            .subtitle 3 項至少須符合 1 項
          .itemsBox
            .item
              img
              .text 主創團隊
            .item
              img
              .text 故事
            .item
              img
              .text 語言
        .descBox
          .subtitleBox
            .title 產業效益
            .subtitle 3 項至少須符合 1 項
          .itemsBox
            .item
              .icon
              .text 主要演員
            .item
              .icon
              .text 拍攝場警
            .item
              .icon
              .text 後期製作
    .container_a
    .container_a
    div ABC
    div ABC
    div ABC
    div(style="font-size: 50px;") ABC
