extends ../base/_base.pug

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="" type="text/javascript")

block content
  .content
    +test()
    .container_about#js_triggerAbout(name="about")
      a.target#anchorAbout
      .title#aboutTitle ABOUT
      .title_bottom_line
      .desc
        .desc_wrapper.light
          .desc_title 適用對象
          .desc_text 本院 MOU 夥伴或其他方案合作/選案者、<span class="about_break"></span>
            | 導演或製作人曾於國際一類影展入圍者、與國際平台合資或合製者
        .desc_wrapper
          .desc_title 支持金額
          .desc_text 全案製作總預算的30%，<span class="about_break"><br></span>最高上限30萬美金。
        .desc_wrapper
          .desc_title 必要條件
          .desc_text 1.具備臺灣元素<br>
            | 2.國際合資或合製<br>
            | 3.國際通路<br>
            | 4.自籌達七成
    .container_MOU#js_triggerMOU
      a.target#anchorMOU
      .desc
        .desc_title TICP
        .desc_text 你想成為文策院合作夥伴嗎？<br>
          | 你有國際合資合製經驗，<span class="mou_break"><br></span>或授權國際通路的作品嗎？
        .desc_subtitle 從第一哩路到最後一桶金
        .desc_buttonWrapper
          a.buttonBox(href="https://taicca.surveycake.biz/s/O0zP3" target="_blank")
            .icon
            .text MOU 夥伴意願調查
          a.buttonBox(href="https://drive.google.com/drive/folders/1_xXY82FXh8G8dKcTOLIzWo21v_ChqATw" target="_blank")
            .icon
            .text 應備文件及證明事項
        .desc_bottom_line
          .line
        .desc_detail
          .text 2023年度申請方式待公告後施行
      .cards
        .card#mouCard1.black
          .card_title 最後一桶金
          .card_text 國際合作投資專案計畫
          .card_text 本頁面方案
        a.card#mouCard2(href="https://ccdp.taicca.tw/")
          .card_title 第一哩路
          .card_text 內容開發專案計畫：前期開發支持
          .icon
    .container_application.applyA#js_triggerApplyA
      a.target#anchorApply
      .sideTitle#applyTitle INTRO
      .fullContainer
        .taiwan#applyTaiwan
      .halfCircle
      div
      .title 申請項目
      .subTitleBox
        .icon
        .subtitle 經費支持上限
      .card
        .shadowTitle 最後一桶金
        .blockBox
          .smallBox
            .arrowDeco
          .twoBoxWrapper
            .largeBox#applyLargeCardA
              .title 製作投資
              .subtitle 為全案製作總預算的
              .number 30%
              .textWrapper
                span.line
                .text 最高
                span.line
              .text 美金<span class="number">30</span>萬元
              .bottom_line
              .text 資金一次到位
            .mediumBox#applyMediumCardA
              .text 以同一專案之製作目的申請並獲得文化部或其附屬、受其監督機關（構）之投資或（獎）補助者，受領金額加總不得超過專案製作總支出之百分之五十
    .container_criteria#js_triggerCriteria
      .sideTitle#criteriaTitle Criteria
      .circleWrapper
        .halfCircle5#criteriaC5
        .halfCircle4#criteriaC4
        .halfCircle3#criteriaC3
        .halfCircle2#criteriaC2
        .halfCircle1#criteriaC1
      .title 必要條件
      .cards
        .card.black
          .number 01
          .title 國際合製或合資
          .subtitle 契約文件
          .text 與國外公司的合資或<br>合製契約
        .card#criteriaCard1
          .number 02
          .title 國際影視通路
          .text 3 項至少符合 1 項
          .descWrapper
            .descBox
              .subtitle 公開上映
              .desc 國外戲院發行契約（非影展放映）
            .descBox
              .subtitle 公開播送
              .desc 國外頻道(無線/有線/衛星電視)
            .descBox
              .subtitle 公開傳輸
              .desc 國際平台付費會員制線上收看(OTT)、按次付費(PPV)、隨選視訊(VOD)、訂閱式隨選視 訊(SVOD)、電視回看公開播映 (TVOD)、以廣告營收為基礎的服務(paid-AVOD, AVOD)
        .cardWrapper#criteriaCard2
          .card.gray
            .number 03
            .title 自籌資金已達七成
            .descWrapper
              .descBox
                .subtitle 契約文件
                .desc 投資契約
              .descBox
                .subtitle 銀行文件
                .desc 帳戶金流證明（申請人須提供國內外經會計師確認為有公信力銀行之銀行對帳單/帳戶證明），並應包含投資人與被投資對象、撥款時日及金額等資訊，申請人之自籌款（即總預算70%）已進入或將進入該帳戶，並應同意本院每季（或月）自行或委託會計師事務所執行查核工作
          .card.white
            .number 04
            .title 台灣元素
            .text 核心內容與產業效益至少各符合一項
            .arrowDown
    .container_element#js_triggerElement
      .grayBlock
      .primaryBlock
      .blurCircle
      .backgroundCircle
      .icon#elementIcon
      .TW
      .sideTitle#elementTitle Taiwanese<br>Elements
      .descWrapper
        .titleBox
          .circle
            img(src="./images/icon_tw.png")
          .title 台灣元素
        .descBox
          .subtitleBox
            .title 核心內容
            .subtitle 3 項至少須符合 1 項
          .itemsBox
            .item
              img(src="./images/icon_team.png")
              .text 主創團隊
            .item
              img(src="./images/icon_story.png")
              .text 故事
            .item
              img(src="./images/icon_language.png")
              .text 語言
        .descBox
          .subtitleBox
            .title 產業效益
            .subtitle 3 項至少須符合 1 項
          .itemsBox
            .item
              img(src="./images/icon_actor.png")
              .text 主要演員
            .item
              img(src="./images/icon_photo.png")
              .text 拍攝場景及製作團隊
            .item
              img(src="./images/icon_editor.png")
              .text 後期製作
    .container_download#js_triggerDownload
      .whiteBlock
      .primaryBlock
      .grayBlock
      .bigArrow#downloadArrow
      .contentWrapper
        .sideTitle Download
        .descWrapper
          .leftWrapper
            .text 請依撰寫說明提供企畫書（含附件），上傳至徵件系統
            .buttonWrapper
              a.buttonBox#downloadButton1(href="https://drive.google.com/drive/folders/1F86-Cxp09OTD89k_6JW9t_4tQamQqRwZ" target="_blank")
                img(src="./images/icon_page1.png")
                .text 企劃書撰寫說明
                .arrow
              a.buttonBox#downloadButton2(href="https://drive.google.com/drive/folders/1fdzS_bk9n89lYoGv7A9tt-R2dkFB4B1K" target="_blank")
                img(src="./images/icon_page2.png")
                .text 授權書與聲明書範本
                .arrow
          .rightWrapper
            iframe#js_googleSlide(src="https://docs.google.com/presentation/d/e/2PACX-1vQyQJWqCDp9CPoHVvqYYBPS1Gf8d8gB8EqPI7Mw52uH1-apDiHDwnj05GM0XyAxdfZhpyUR0YYco_EH/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
            .buttonWrapper
              a.buttonBox#js_toggleFullScreen(data-fancybox data-type="iframe" data-src="https://docs.google.com/presentation/d/e/2PACX-1vQyQJWqCDp9CPoHVvqYYBPS1Gf8d8gB8EqPI7Mw52uH1-apDiHDwnj05GM0XyAxdfZhpyUR0YYco_EH/embed?start=false&loop=false&delayms=3000")
                img(src="./images/icon_fullScreen.png")
                .text 放大顯示
              a.buttonBox(href="https://drive.google.com/uc?export=download&id=1GB8gNwgzV2oKFxzp48Dla9EAy1ChHqtF" target="_blank")
                img(src="./images/icon_download.png")
                .text 下載簡報
    .container_plans
      .title 方案更新與公告
      ul.plans#js_plansList
        li.plan
          .plan_header
            .decoLine
            .planDate 2021-03-18
            .planTitle 新增「動畫開發方案」
          .plan_content  為了強化出版端、編劇端與影視或動畫業者之間的商業連結、創造三贏，先前推出「內容開發專案計畫:出版與影視媒合」方案，此次更進一步加速前端開發劇本與動畫樣片，推出「內容開發專 案計畫:劇本開發支持」。內容產製單位或專業從業人員，凡接受本院正式合作夥伴委託開發影視內容之劇本或動畫內容 之樣片，且內容或產製單位與台灣相關，劇情類（電影長片與影集）與紀實類（紀錄片與紀錄片系列）可獲最高 200 萬元之開發經費，動畫類（動畫長片、動畫長片影集、動畫短片影集）可獲最高 300 萬元之開發經費。
          .plan_footer
            .plan_footer_text 了解更多
            .plan_footer_showMore
        li.plan
          .plan_header
            .decoLine
            .planDate 2021-03-16
            .planTitle 內容開發專案計畫：劇本開發支持
          .plan_content 為了強化出版端、編劇端與影視或動畫業者之間的商業連結、創 造三贏，先前推出「內容開發專案計畫:出版與影視媒合」方案，此次更進一步加速前端開發劇本與動畫樣片...
          .plan_footer
            .plan_footer_text 了解更多
            .plan_footer_showMore
        li.plan
          .plan_header
            .decoLine
            .planDate 2021-03-16
            .planTitle 內容開發專案計畫：劇本開發支持
          .plan_content 為了強化出版端、編劇端與影視或動畫業者之間的商業連結、創 造三贏，先前推出「內容開發專案計畫:出版與影視媒合」方案，此次更進一步加速前端開發劇本與動畫樣片...
          .plan_footer
            .plan_footer_text 了解更多
            .plan_footer_showMore
      .readMoreButton.showMore.active
          .text 顯示更多
      .readMoreButton.showLess
        .text 顯示更少
    .container_news#js_triggerNews
      a.target#anchorNews
      .blurCircle#newsBlurCircle
      .sideTitle News
      .newsWrapper
        .title 相關報導與聯結
        ul.newsBox
          li
            a(href="https://taicca.tw/article/0cb06ea8" class="news")
              .news_dateBox
                .news_month 11月
                .news_day 25
              .news_year 2021
              .news_title 文策院與金馬創投會議攜手 持續助攻臺灣新銳導演原創作品
          li
            a(href="https://taicca.tw/article/bc6fc094" class="news")
              .news_dateBox
                .news_month 10月
                .news_day 15
              .news_year 2022
              .news_title 《人選之人—造浪者》開拍 從內容孵化到製作投資 文策院與產業一起為臺劇造浪
          li
            a.news(href="https://taicca.tw/article/d39bf2a8")
              .news_dateBox
                .news_month 10月
                .news_day 8
              .news_year 2021
              .news_title 文策院攜手金馬、北影與雄影 力挺新銳導演與優秀團隊持續創作、進入國際市場
          li
            a.news(href="https://taicca.tw/article/63ea844f")
              .news_dateBox
                .news_month 2月
                .news_day 3
              .news_year 2021
              .news_title 文策院攜手國內影視產製公司 宣示百部影視台流造浪
          li
            a.news(href="https://taicca.tw/article/913fdf72")
              .news_dateBox
                .news_month 1月
                .news_day 27
              .news_year 2021
              .news_title 為台流鋪第一哩路 文策院編劇提案大會 熱烈參與投拍更多台灣原創故事
          li
            a.news(href="https://taicca.tw/article/913fdf72")
              .news_dateBox
                .news_month 1月
                .news_day 27
              .news_year 2021
              .news_title 為台流鋪第一哩路 文策院編劇提案大會 熱烈參與投拍更多台灣原創故事
          li
            a.news(href="https://taicca.tw/article/913fdf72")
              .news_dateBox
                .news_month 1月
                .news_day 27
              .news_year 2021
              .news_title 為台流鋪第一哩路 文策院編劇提案大會 熱烈參與投拍更多台灣原創故事
        .readMoreButton.showMore.active
          .text 顯示更多
        .readMoreButton.showLess
          .text 顯示更少
    .container_partner
      a.target#anchorPartner
      .sideTitle
      .titleWrapper
        .line
        .title 合作夥伴
        .line
      .partnerWrapper
        img(src="./images/partner_taipei.png")
        img(src="./images/partner_taipeiFF.png")
        img(src="./images/partner_kaohsiungFF.png")
        img(src="./images/partner_taoyuanFF.png" style={'width': '233px'})
    +contact()
    +modal()
