extends ../base/_baseEn.pug

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="" type="text/javascript")

block content
  .content
    +test()
    .container_about#js_triggerAbout(name="about")
      a.target#anchorAbout
      .title#aboutTitle ABOUT
      .title_bottom_line
      .desc
        .desc_wrapper.light
          .desc_title Eligibility
          .desc_text TAICCA’s MOU partners and entities who have received other TAICCA support (Applicants shall either own the IPs, or receive permissions or licenses from IP owners.)
        .desc_wrapper
          .desc_title Gap Financing
          .desc_text Supports up to 30% of Film Production Budget (Priority)
            | Supports up to 30% of Global Marketing Budget (Alternative)
          .desc_text.point Max. USD$300,000
        .desc_wrapper
          .desc_title Requirements
          .desc_text 1.Taiwanese Elements<br>
            | 2. International Co-financing / Co-production<br>
            | 3. International Distribution<br>
            | 4. Secured 70% of total budget
    .container_MOU#js_triggerMOU
      a.target#anchorMOU
      .desc
        .desc_title MOU
        .desc_text Do you want to be MOU partners with TAICCA?<br>
          | Do you have international co-financing and co-production experiences? Do you have titles licensed to international channels?
        .desc_subtitle From the First Mile to the Last Stage
        .desc_detail TAICCA MOU partners can apply to both CCDP and TICP.<br>Each partner is eligible to receive up to 10 projects approved each year.
        .desc_buttonWrapper
          a.buttonBox(href="https://taicca.surveycake.biz/s/O0zP3" target="_blank")
            .icon
            .text Register Your Interest
          a.buttonBox(href="https://drive.google.com/drive/folders/1_xXY82FXh8G8dKcTOLIzWo21v_ChqATw" target="_blank")
            .icon
            .text Required Documents and Items
        .desc_bottom_line
          .line
        .desc_detail
          .text MOU is valid until the end of the next year, may be extended for one year.
          .text <span class="primary">CCDP</span>｜Creative Content Development Program
          .text <span class="primary">TICP</span>｜Taiwan’s International Co-funding Program
      .cards
        .card#mouCard1.black
          .card_title Last Stage
          .card_text Taiwan’s International<br>Co-funding Program
          .card_text Program on this page
        a.card#mouCard2(href="https://ccdp.taicca.tw/")
          .card_title First Mile
          .card_text Creative Content Development Program
          .card_text Scripts Development Fund
          .icon
    .container_application.applyA#js_triggerApplyA
      a.target#anchorApply
      .sideTitle#applyTitle INTRO
      .taiwan#applyTaiwan
      .halfCircle
      div
      .title Apply
      .subTitleBox
        .icon
        .subtitle Terms of Grant
      .card
        .shadowTitle Priority
        .blockBox
          .smallBox
            .text A
          .twoBoxWrapper
            .largeBox#applyLargeCardA
              .title Production Support
              .number 30%
              .subtitle of total production budget
              .textWrapper
                span.line
                .text Up to
                span.line
              .text <span class="upText">USD$</span><span class="number">300,000</span>
              .bottom_line
              .text All at once
            .mediumBox#applyMediumCardA
              .text Projects which have received production support from Ministry of Culture or affiliated agencies are not eligible for TAICCA production support.
    .container_application.applyB#js_triggerApplyB
      .arrow#applyArrow
      .card.Bcard
        .shadowTitle Alternative
        .blockBox
          .smallBox
            .text B
          .twoBoxWrapper
            .largeBox#applyLargeCardB
              .title Marketing<br>Support
              .number 30%
              .subtitle of total marketing budget
              .textWrapper
                span.line
                .text Up to
                span.line
              .text <span class="upText">USD$</span><span class="number">300,000</span>
              .bottom_line
              .text In two phases<br>
                | first 50%<br>
                | second 50%
            .mediumBox#applyMediumCardB
              ul
                li.text Only projects which have received production support from Ministry  of Culture or affiliated agencies  are eligible for TAICCA marketing  support.
                li.text Projects which have received marketing support from Ministry of Culture or affiliated agencies are not eligible for TAICCA marketing support.
                li.text The same project shall not apply both TAICCA production and marketing support.
    .container_criteria#js_triggerCriteria
      .sideTitle#criteriaTitle Criteria
      .circleWrapper
        .halfCircle5#criteriaC5
        .halfCircle4#criteriaC4
        .halfCircle3#criteriaC3
        .halfCircle2#criteriaC2
        .halfCircle1#criteriaC1
      .title Requirements
      .cards
        .card.black
          .title International Co-financing / Co-production
          .subtitle Contract
          .text Co-financing  or<br>Co-production agreement
          .bottom_line
          .optionText A. Production Support
          .optionText B. Marketing Support
        .card.primary#criteriaCard1
          .title International Distribution
          .text Meet at least one of out three criteria
          .descWrapper
            ul
              li.descBox
                .subtitle Commerical release
                .desc Distribution agreement<br>(excl. festival screenings)

              li.descBox
                .subtitle Public broadcast
                .desc Foreign channels<br>(broadcast TV/cable TV/satellite TV)
              li.descBox
                .subtitle Public transmission
                .desc i.e. OTT, PPV, VOD, SVOD,<br>TVOD, or AVOD etc.
          .bottom_line
          .optionText A. Production Support
          .optionText B. Marketing Support
        .card.gray#criteriaCard2
          .title Secured 70% of total budget
          .descWrapper
            .descBox
              .subtitle Investment agreement
              //- .desc 投資契約
            .descBox
              .subtitle Bank statement
              .desc (prove 70% of budgets have been deposited into the account)<br>
                | Applicants shall agree to be audited monthly or quarterly by TAICCA or commissioned accounting firms.
          .bottom_line
          .optionText A. Production Support
    .container_element#js_triggerElement
      .grayBlock
      .primaryBlock
      .blurCircle
      .backgroundCircle
      .icon#elementIcon
      .TW
      .sideTitle#elementTitle Taiwanese<br>Elements
      .descWrapper
        .titleBox
          .circle
            img(src="./images/icon_tw.png")
          .title Taiwanese Elements
        .descBox
          .subtitleBox
            .title Key<br>Elements
            .subtitle Meet at least 1 of out 3 criteria
          .itemsBox
            .item
              img(src="./images/icon_team.png")
              .text Main Crew
            .item
              img(src="./images/icon_story.png")
              .text Story
            .item
              img(src="./images/icon_language.png")
              .text Language
        .descBox
          .subtitleBox
            .title Production
            .subtitle Meet at least 1 of out 3 criteria
          .itemsBox
            .item
              img(src="./images/icon_actor.png")
              .text Main Cast
            .item
              img(src="./images/icon_photo.png")
              .text Shooting<br>Location
            .item
              img(src="./images/icon_editor.png")
              .text Post-<br>Production
    .container_download#js_triggerDownload
      .whiteBlock
      .primaryBlock
      .grayBlock
      .bigArrow#downloadArrow
      .contentWrapper
        .sideTitle Download
        .descWrapper
          .leftWrapper
            .text MOU partners should draft proposals according to guidelines, and send<br>four copies of proposals (with appendix) on paper and one copy in digital form to your contact.
            .buttonWrapper
              a.buttonBox#downloadButton1(href="https://drive.google.com/uc?export=download&id=1OXO3TouGsgX1wthTAwukOjz0GoiwAeVC" target="_blank")
                img(src="./images/icon_page1.png")
                .text Proposal Guideline
                .arrow
              a.buttonBox#downloadButton2(href="https://drive.google.com/drive/folders/1fdzS_bk9n89lYoGv7A9tt-R2dkFB4B1K" target="_blank")
                img(src="./images/icon_page2.png")
                .text Agreement and<br>Declaration Samples
                .arrow
          .rightWrapper
            iframe#js_googleSlide(src="https://docs.google.com/presentation/d/e/2PACX-1vRNnm6sE0wJLvbQcO8AzWRugvAFImMwArt2xNF57DSYYjZQiJ_Z3H_AqRAIzFqfF_S8Ez_WeoaJv-Rd/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
            .buttonWrapper
              a.buttonBox#js_toggleFullScreen(data-fancybox data-type="iframe" data-src="https://docs.google.com/presentation/d/e/2PACX-1vRNnm6sE0wJLvbQcO8AzWRugvAFImMwArt2xNF57DSYYjZQiJ_Z3H_AqRAIzFqfF_S8Ez_WeoaJv-Rd/embed?start=false&loop=false&delayms=3000")
                img(src="./images/icon_fullScreen.png")
                .text Expand
              a.buttonBox(href="https://drive.google.com/uc?export=download&id=1JXs01NtU0vR4lfsKBJ9YojkGUEnTQ_C-" target="_blank")
                img(src="./images/icon_download.png")
                .text Download
    .container_news#js_triggerNews
      a.target#anchorNews
      .blurCircle#newsBlurCircle
      .sideTitle News
      .newsWrapper
        .title Program Updates & Announcements
        .newsBox
          a.news(href="https://en.taicca.tw/article/0f93dffa")
            .news_dateBox
              .news_month Nov.
              .news_day 26
            .news_year 2021
            .news_title TAICCA and Golden Horse FPP Award Promising Film Projects and Directors
          a.news(href="https://en.taicca.tw/article/e7b2fe81")
            .news_dateBox
              .news_month Feb.
              .news_day 3
            .news_year 2021
            .news_title Taiwanese Cultural Content Making Waves - TAICCA Partners with Local Production Companies to Boost Content Development 
          a.news(href="https://en.taicca.tw/article/bf18ba3f")
            .news_dateBox
              .news_month Jan.
              .news_day 27
            .news_year 2021
            .news_title Paving the First Mile for More Taiwanese Original Stories, TAICCA hosts Book-to-Screen Pitching Session
        .readMoreButton
          .text 顯示更多
    .container_partner
      a.target#anchorPartner
      .sideTitle
      .titleWrapper
        .line
        .title Partner
        .line
      .partnerWrapper
        img(src="./images/partner_taipei.png")
        img(src="./images/partner_taipeiFF.png")
        img(src="./images/partner_kaohsiungFF.png")
    +contact()
